@{
    ViewBag.Title = "Biaya Proyek";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@(Html.Kendo()
.Grid<JayaHarmoni.Web.Mvc.Controllers.ViewModels.TProjectCostViewModel>()
    .Name("Grid")
    .Columns(columns =>
    {
        columns.Bound(p => p.ProjectId).Width("auto").ClientTemplate("#:ProjectName#");
        columns.Bound(p => p.EquipId).Width("auto").ClientTemplate("#:EquipName#");
        columns.Bound(p => p.CostId).Width("auto").ClientTemplate("#:CostName#");

        columns.Bound(p => p.ProjectCostDate).Width("auto").Format("{0:dd-MMM-yyyy}");
        columns.Bound(p => p.ProjectCostQty).Width("auto").Format("{0:N2}");
        columns.Bound(p => p.ProjectCostPrice).Width("auto").Format("{0:N2}");
        columns.Bound(p => p.ProjectCostTotal).Width("auto").Format("{0:N2}").Title("Total");
        columns.Bound(p => p.ProjectCostDesc).Width("auto");
        columns.Command(command => { command.Edit().Text(" "); command.Destroy().Text(" "); }).Width("auto");
    })
            .ToolBar(toolbar => { toolbar.Create().Text("Tambah Biaya Proyek Baru"); })
    .Editable(editable => editable.Mode(GridEditMode.PopUp).Window(win => win.Width(450)))
    .Pageable()
    .Sortable()
    .Scrollable()
    .ColumnMenu()
    .Selectable()
    .Filterable()
    .Groupable()
    .Resizable(resize => resize.Columns(true))
    .Reorderable(reorder => reorder.Columns(true))
    .HtmlAttributes(new { style = "height:500px;" })
    .DataSource(dataSource => dataSource
        .Ajax()
        .PageSize(20)
        .Batch(false)
        .ServerOperation(false)
        .Events(events => events.Error("error_handler").RequestEnd("onRequestEnd"))
        .Model(model => model.Id(p => p.ProjectCostId))
        .Create(create => create.Action("TProjectCosts_Create", "TProjectCost"))
        .Read(read => read.Action("TProjectCosts_Read", "TProjectCost"))
        .Update(update => update.Action("TProjectCosts_Update", "TProjectCost"))
        .Destroy(destroy => destroy.Action("TProjectCosts_Destroy", "TProjectCost"))
    )
    .Events(e => e.DataBound("onDataBound"))
    )

<script type="text/kendo-template" id="message">
<div class="k-widget k-tooltip k-tooltip-validation k-invalid-msg field-validation-error" style="margin: 0.5em; display: block; " data-for="#=field#" data-valmsg-for="#=field#" id="#=field#_validationMessage">
            <span class="k-icon k-warning"> </span>#=message#<div class="k-callout k-callout-n"></div></div>
</script>

<script type="text/javascript">
    function onRequestEnd(e) {
        //RequestEnd handler code
        //bug : error when update after insert new data, no id catched
        //bug fix : refresh after insert new data, 
        if (e.type === "create" || e.type === "update") {
            //alert("onRequestEnd");
            //check for errors in the response
            if (e.response == null || e.response.Errors == null) {
                //refresh grid if no errors
                $('#Grid').data().kendoGrid.dataSource.read();
            }
        }
    }

    function onDataBound(e) {
        //edit data when double click
        $('#Grid tbody tr').dblclick(function () {
            var grid = $('#Grid').data().kendoGrid;
            grid.editRow(this);
        })
    }
    jQuery(document).ready(function () {
        //auto click add new customer when iframe = 1
        if (getURLParameter("isModal") === "True") {
            //$("a.k-grid-add").trigger("click");
            setTimeout('$("a.k-grid-add").trigger("click");', 3000);
        }
    })

    function getURLParameter(name) {
        return decodeURI(
            (RegExp(name + '=' + '(.+?)(&|$)').exec(location.search) || [, null])[1]
        );
    }

    //show server errors if any
    function error_handler(e) {
        if (e.errors) {
            var message = "Errors:\n";

            var grid = $('#Grid').data('kendoGrid');

            grid.one("dataBinding", function (e) {
                e.preventDefault();   // cancel grid rebind
            });
            //var gridElement = grid.editable.element;

            //var validationMessageTemplate = kendo.template(
            //    "<div id='#=field#_validationMessage' " +
            //        "class='k-widget k-tooltip k-tooltip-validation " +
            //            "k-invalid-msg field-validation-error' " +
            //        "style='margin: 0.5em;' data-for='#=field#' " +
            //        "data-val-msg-for='#=field#' role='alert'>" +
            //        "<span class='k-icon k-warning'></span>" +
            //        "#=message#" +
            //        "<div class='k-callout k-callout-n'></div>" +
            //    "</div>");

            $.each(e.errors, function (key, value) {
                if ('errors' in value) {
                    $.each(value.errors, function () {
                        message += this + "\n";
                    });
                    //gridElement.find("[data-valmsg-for=" + key + "],[data-val-msg-for=" + key + "]")
                    //.replaceWith(validationMessageTemplate({ field: key, message: value.errors[0] }));
                    //gridElement.find("input[name=" + key + "]").focus();
                }
            });
            alert(message);
        }
    }

    $(function () {
        //alert("ProjectCostQty");
        $("#ProjectCostQty").kendoNumericTextBox({
            change: CalculateCostTotal
        });
        $("#ProjectCostPrice").kendoNumericTextBox({
            change: CalculateCostTotal
        });
        //var total = $("#ProjectCostTotal").data("kendoNumericTextBox");
        //total.readonly();
        //$("#ProjectCostQty").change(function () {
        //    alert("Handler for .change() called.");
        //});
        //$("#ProjectCostPrice").change(function () {
        //    alert("Handler for .change() called.");
        //});
    })

    function CalculateCostTotal() {
        alert("tesT");
        var qty = $('#ProjectCostQty').data('kendoNumericTextBox').value();
        var price = $('#ProjectCostPrice').data('kendoNumericTextBox').value();
        var total = qty * price;
        $('#ProjectCostTotal').data('kendoNumericTextBox').value(total);

        alert(qty);
        alert(price);
        alert(total);
    }
</script>
